POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-postgres-password
CRM_DB=crm
CRM_DB_USER=crm_app
CRM_DB_PASSWORD=change-crm-password
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak_app
KEYCLOAK_DB_PASSWORD=change-keycloak-db-password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-keycloak-admin-password
KEYCLOAK_KAM_ROLE=kam
KEYCLOAK_SUPERVISOR_ROLE=supervisor
KEYCLOAK_ADMIN_ROLE=admin
FRONTEND_PORT=5173
API_PORT=3000
KEYCLOAK_PORT=8080
